<div class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center">Prêt pour ce soir ??</h2>
        <div class="center">
            <img src='https://i.kym-cdn.com/photos/images/newsfeed/001/852/193/d71.gif'>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center">Ou ... pas ?</h2>
        <div class="center">
                <img src='https://media2.giphy.com/media/ukwPlCmJ5RmlqvQCpA/200w.gif?cid=6c09b95211zicjrlxrb6oanfzuklzfbmbcxa3ge0rqo3j7kn&rid=200w.gif'>
        </div>
    </div>
</div>